body { 
	padding-top: 70px;
	background-color:#f3f3f3; 
}

.video{
	border-top:10px solid #3498db;
	border-bottom:10px solid #2980b9;
	border-left:10px solid #3498db;
	border-right:10px solid #2980b9;
	border-radius: 10px;
	box-shadow: -5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}

.video::before{
		border-color: transparent #3498db transparent transparent;
		border-style: solid;
		border-width: 20px;
		content: "";
		left: -25px;
		margin-top: -20px;
		position: absolute;
		top: 50%;
	} 

.navbar-inverse{
	  background-image: linear-gradient(to bottom,#2c3e50 0,#2c3e50 100%);

}

.btn-blue{
	color:#ffffff;
	background-color: #3498db;
}

.btn-blue:hover{
	color:#ffffff;
	background-color: #2980b9;
}

.slides{
	margin-top:10px;
}

hr.style-one {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(52, 73, 94, 0.3), rgba(52, 73, 94, 0.75), rgba(52, 73, 94, 0.3));
}

section.box{
	background-color: #3498db;
	color: #ffffff;
	padding:50px;
}

.text-center{
	text-align: center;
	padding:30px;
}

.footer-dark-blue{
	background-color: #2c3e50;
	color:#ffffff;
}