<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="webClientApp"  ng-controller="NavbarcontrollerCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href=""><span class="glyphicon glyphicon-blackboard"></span> SlideShow</a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <form ng-hide="hasUser" ng-submit="login(user)" class="navbar-form navbar-left" role="search">
            <div class="form-group">
            <input type="text" ng-model="user.login" class="form-control" placeholder="Login">
            <input type="password" ng-model="user.password" class="form-control" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-log-in"></span> Entrar</button>
          </form>
          <div class="menu-767-max" ng-show="hasUser">
            <ul class="nav navbar-nav">
              <li  ng-class="{'active': menu === 1}" ng-click="menu = 1"><a href="#/home">Apresentações<span class="sr-only">(current)</span></a></li>
              <li  ng-class="{'active': menu === 2}" ng-click="menu = 2"><a href="#/my/slides">Minhas Apresentações</a></li>
              <li  ng-class="{'active': menu === 3}" ng-click="menu = 3"><a href="#/new/slide">Criar Apresentação</a></li>
              <li  ng-class="{'active': menu === 4}" ng-click="menu = 4"><a href="#/me">Editar Perfil</a></li>
              <li><a ng-click="logout()" href="">Sair</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <aside class="aside-fixed menu-767-min" ng-show="hasUser">
        <div class="row">
        <ul class="nav nav-pills nav-stacked">
            <li ng-class="{'active': menu === 1}" ng-click="menu = 1" role="presentation"><a href="#/home"><span class="glyphicon glyphicon-search glyphicon-md"></span></a></li>
            <li ng-class="{'active': menu === 2}" ng-click="menu = 2" role="presentation"><a href="#/my/slides"><span class="glyphicon glyphicon-folder-open glyphicon-md"></span></a></li>
            <li ng-class="{'active': menu === 3}" ng-click="menu = 3" role="presentation"><a href="#/new/slide"><span class="glyphicon glyphicon-plus glyphicon-md"></span></a></li>
            <li ng-class="{'active': menu === 4}" ng-click="menu = 4" role="presentation"><a href="#/me"><span class="glyphicon glyphicon-user glyphicon-md"></span></a></li>
            <li role="presentation"><a ng-click="logout()" href="#"><span class="glyphicon glyphicon-log-out glyphicon-md"></span></a></li>
        </ul>
        </div>
    </aside>

    <div ng-class="{'aside-left-distance': hasUser}" ng-view=""></div>

    <footer class="footer-dark-blue">
      <div class="container">

      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/navbarcontroller.js"></script>
        <script src="scripts/services/requisition.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/me.js"></script>
        <script src="scripts/controllers/newslide.js"></script>
        <script src="scripts/controllers/myslides.js"></script>
        <script src="scripts/controllers/slide.js"></script>
        <script src="scripts/services/slidegenerator.js"></script>
        <script src="scripts/services/slidecanvas.js"></script>
        <!-- endbuild -->
</body>
</html>
