<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
    <link rel="stylesheet" href="bower_components/sweetalert/dist/sweetalert.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="webClientApp"  ng-controller="NavbarcontrollerCtrl">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="hydra-navbar navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a ng-hide="hasUser" class="navbar-brand" href="#/"><p><img alt="Brand" src="images/logo.png" width="25"> Hydra</p></a>
          <a ng-show="hasUser" class="navbar-brand" href="#/me">{{user.name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul ng-show="hasUser" class="nav navbar-nav">
            <li><a href="#/home"><span class="glyphicon glyphicon-search"></span> Pesquisar</a></li>
            <li class="dropdown">
              <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-blackboard"></span> Slides<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#/new/slide"><span class="glyphicon glyphicon-plus"></span> Novo</a></li>
                <li><a href="#/my/slides"><span class="glyphicon glyphicon-folder-open"></span> Arquivados</a></li>
              </ul>
            </li>
          </ul>

          <form ng-hide="hasUser" ng-submit="login(user)" class="navbar-form navbar-right">
            <div class="form-group">
            <input type="text" ng-model="user.email" class="form-control dark-input" placeholder="Login">
            <input type="password" ng-model="user.password" class="form-control dark-input" placeholder="Senha">
            </div>
            <button type="submit" class="btn btn-green"><span class="glyphicon glyphicon-log-in"></span> Entrar</button>
          </form>

          <form ng-show="hasUser" class="navbar-form navbar-right">
            <button ng-click="logout()" class="btn btn-green"><span class="glyphicon glyphicon-log-out"></span> Sair</button>
          </form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div ng-view=""></div>

    <footer class="footer-dark-blue">
      <div class="container">

      </div>
    </footer>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>
    -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
    <script src="bower_components/angular-fullscreen/src/angular-fullscreen.js"></script>
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/navbarcontroller.js"></script>
        <script src="scripts/services/requisition.js"></script>
        <script src="scripts/controllers/home.js"></script>
        <script src="scripts/controllers/me.js"></script>
        <script src="scripts/controllers/newslide.js"></script>
        <script src="scripts/controllers/myslides.js"></script>
        <script src="scripts/controllers/slide.js"></script>
        <script src="scripts/services/slidegenerator.js"></script>
        <script src="scripts/services/slidecanvas.js"></script>
        <script src="scripts/filters/capitalize.js"></script>

        <!-- endbuild -->
</body>
</html>
