<div class="box-background">
  <section class="container">
    <div class="row">
      <div class="col-md-7">
          <h1><strong>SlideShow</strong> a solução para criar apresentações de forma rápida</h1>
          <h3>Assista o vídeo e descubra o quão facil pode ser criar uma apresentação.</h3>
      </div>
      <div class="col-md-5">
        <div class="video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/WHI43GfQZP0" ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

  <section id="cadastro" class="box">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
              <div class="col-md-6 text-center">
                <img class="ball" src="images/file.png">
                <h4>Trabalhando com foco no conteúdo, garantindo melhores resultados, é assim que você irá trabalhar no SlideShow</h4>
              </div>

              <div class="col-md-6 text-center">
                <img class="ball" src="images/box.png">
                <h4>Utilize nossas toolbox que facilita a inserção multimidia dentro das suas apresentações.</h4>
              </div>

              <div class="col-md-12 text-center">
                <img class="ball" src="images/presentation.png">
                <h4>Escolha sempre o layout que mais combina com o momento, e apresente um slide impecavel.</h4>
              </div>
        </div>
        <div class="col-md-5">
          <h3>Cadastre-se</h3>
          <p>Basta preencher o formulário abaixo</p>
          <form ng-submit="createUser(user)">
            <br>
            <input type="text" ng-model="user.name" class="form-control" placeholder="Nome">
            <br>
            <input type="text" ng-model="user.email" class="form-control" placeholder="E-Mail">
            <br>
            <input type="password" ng-model="user.password" class="form-control" placeholder="Senha">
            <br>
            <input type="password" ng-model="user.passwordd" class="form-control" placeholder="Repita a senha">
            <br>
            <select ng-model="user.question" class="form-control">
              <option>Qual o nome da sua avó?</option>
              <option>Qual o nome da sua mãe?</option>
              <option>Com quantos anos você perdeu a virgindade?</option>
              <option>Você já deu o cú?</option>
            </select>
            <br>
            <input type="text" ng-model="user.answer" class="form-control" placeholder="Resposta">
            <br>
            <input type="submit" class="form-control">
          </form>
        </div>
      </div>
    </div>
  </section>

  <br>

  <section class="container">
    <div>
      <h3>Apresentações</h3>
      <input type="text" class="form-control" placeholder="Procurar apresentação">
      <div class="row slides">
        <div ng-repeat="presentation in presentations" class="col-md-3">
          <a href="#" class="thumbnail">
            <slide theme={{presentation.theme}} title={{presentation.title}} subtitle={{presentation.subTitle}}></slide>
          </a>
        </div>
      </div>
    </div>
  </section>
