<section class="container">
    <div class="row">
      <div class="col-md-7">
        <h1>Crie sua apresentação focando no conteudo, e deixe que nós garantimos o layout</h1>
        <h3>Tenha acesso a conteudo diretamente lincado ao site</h3>
        <p><a class="btn btn-blue btn-lg" href="#cadastro" role="button">Crie uma conta</a></p>
      </div>
      <div class="col-md-5">
        <div class="video">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/pT68FS3YbQ4" ></iframe>
          </div>
        </div>
      </div>
    </div>
    <hr class="style-one"></hr>
  </section>
  
  <br>
  <br>

  <section class="container">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="images/file.png">
        <h4>Fouque no conteúdo, e nos entregue via txt ou pelo editor do site</h4>
      </div>

      <div class="col-md-4 text-center">
        <img src="images/box.png">
        <h4>Utilize nossa toolbox para achar fotos e videos para as apresentações</h4>
      </div>

      <div class="col-md-4 text-center">
        <img src="images/presentation.png">
        <h4>Escolha um tema, e gere sua apresentação</h4>
      </div>
    </div>
  </section>

  <br>
  <br>

  <section id="cadastro" class="box">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h3>Um propaganda qualquer</h3>
          <p>Uma propaganda qualquer aqui</p>
          <p>uma imagem bonita ou sei la oq</p>
        </div>
        <div class="col-md-5">
          <h3>Cadastre-se</h3>
          <p>Basta preencher o formulário abaixo</p>
          <form>
            <br>
            <input type="text" class="form-control">
            <br>
            <input type="text" class="form-control">
            <br>
            <input type="text" class="form-control">
            <br>
            <input type="submit" class="form-control">
          </form>
        </div>
      </div>
    </div>
  </section>

  <br>

  <section class="container">
    <div>
      <h3>Apresentações</h3>
      <input type="text" class="form-control" placeholder="Procurar apresentação">
      <div class="row slides">
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="images/171x180.png" alt="slide">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="images/171x180.png" alt="slide">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="images/171x180.png" alt="slide">
          </a>
        </div>
        <div class="col-xs-6 col-md-3">
          <a href="#" class="thumbnail">
            <img src="images/171x180.png" alt="slide">
          </a>
        </div>
      </div>
    </div>
  </section>