<section class="me container box-white">

	<h4>Atualizar Cadastro</h4>
    <table class="table table-hover">
        <tbody>
            <tr ng-hide="item=='name'">
                <td><strong>Nome</strong></td>
                <td>{{user.name | capitalize}}</td>
                <td><a ng-click="item='name'">Editar</a></td>

            </tr>
            <tr ng-show="item=='name'">
            	<td colspan=3>
            		<strong>Nome</strong>
                    <br>
            		<input type="text" ng-model="user.name" class="form-control" placeholder="Nome">
            		<br>
            		<p><a ng-click="saveUser(user)" class="btn btn-green" role="button">Salvar</a>
            	</td>
            </tr>

            <tr ng-hide="item=='email'">
            	<td><strong>E-mail</strong></td>
            	<td colspan="2">{{user.email}}</td>
            </tr>

            <tr ng-hide="item=='password'">
            	<td><strong>Senha</strong></td>
            	<td>***********</td>
            	<td><a ng-click="item='password'">Editar</a></td>
            </tr>

            <tr ng-show="item=='password'">
            	<td colspan=3>
            		<strong>Senha</strong>
                    <br>
            		<input type="password" ng-model="password" class="form-control" placeholder="Senha">
            		<br>
            		<input type="password" ng-model="passwordd" class="form-control" placeholder="Repetir Senha">
            		<br>
            		<p><a ng-click="saveUser(user)" class="btn btn-green" role="button">Salvar</a>
            	</td>
            </tr>

            <tr ng-hide="item=='job'">
                <td><strong>Emprego (Opicional)</strong></td>
                <td>{{user.job}}</td>
                <td><a ng-click="item='job'">Editar</a></td>
            </tr>

            <tr ng-show="item=='job'">
                <td colspan=3>
                    <strong>Emprego</strong>
                    <br>
                    <input type="text" ng-model="user.job" class="form-control" placeholder="Emprego">
                    <br>
                    <p><a ng-click="saveUser(user)" class="btn btn-green" role="button">Salvar</a>
                </td>
            </tr>

            <tr ng-hide="item=='nationality'">
                <td><strong>País (Opicional)</strong></td>
                <td>{{user.nationality}}</td>
                <td><a ng-click="item='nationality'">Editar</a></td>
            </tr>

            <tr ng-show="item=='nationality'">
                <td colspan=3>
                    <strong>País</strong>
                    <br>
                    <input type="text" ng-model="user.nationality" class="form-control" placeholder="País">
                    <br>
                    <p><a ng-click="saveUser(user)" class="btn btn-green" role="button">Salvar</a>
                </td>
            </tr>
        </tbody>
    </table>
</section>
