<section class="box-white container">
    <h4>Minhas Apresentações</h4>
    <input type="text" ng-model="searchText" class="form-control dark-input" placeholder="Procurar apresentação">
    <div class="row slides">
      <div ng-repeat="presentation in presentations | filter:searchText" class="col-sm-6 col-md-3">
        <a href="#/slide/{{presentation.id}}" class="thumbnail">
          <img ng-src="{{presentation.coverImage}}" alt="" class="img-responsive"/>
        </a>
        <div class="icons">
          <a href="#edit/slide/{{presentation.id}}"><span class="edit glyphicon glyphicon-pencil"></span></a>
          <span class="delete glyphicon glyphicon-remove" ng-click="deleteSlide(presentation)"></span>
        </div>
      </div>
    </div>
</section>