<section class="container-fluid">
  <div class="col-md-7 box-white">
    <h4>Novo Slide</h4>
    <hr>
    <form ng-submit="save(presentation)">
      <input ng-change="renderPreview(presentation)" type="text" name="name" class="form-control dark-input" ng-model="presentation.title" placeholder="Título" required>
      <br>
      <input ng-change="renderPreview(presentation)" type="text" name="name" class="form-control dark-input" ng-model="presentation.subTitle" placeholder="Sub-título" required>
      <br>
      <input ng-change="renderPreview(presentation)" type="color" value="#000000" class="form-control dark-input" ng-model="presentation.theme" required>
      <br>
      <textarea ng-change="renderPreview(presentation)" placeholder="conteúdo" name="name" rows="10" class="form-control text-height dark-input" ng-model="presentation.slideContent"></textarea>
      <br>
      <textarea placeholder="Descrição" name="name"  class="form-control text-height dark-input" ng-model="presentation.description" required></textarea>
      <br>
      <input type="submit" name="name" class="btn btn-green" value="Salvar">
    </form>
  </div>
  <div class="col-md-5">
    <div class="slide-edit" ng-repeat="image in presentation.slidesImages track by $index">
        <img ng-src={{image}} alt="" class="img-responsive"/>
    </div>
  </div>
</section>
