<section class="container-fluid">
  <div class="col-md-7 box-white">
    <h4>{{view.title}}</h4>
    <hr>
    <form ng-submit="save(presentation)">
      <label for="title">Título: </label>
      <input id="title" ng-change="renderPreview(presentation)" type="text" name="name" class="form-control dark-input" ng-model="presentation.title" required>
      <br>
      <label for="subtitle">Sub-título: </label>
      <input id="subtitle" ng-change="renderPreview(presentation)" type="text" name="name" class="form-control dark-input" ng-model="presentation.subTitle" required>
      <br>
      <label for="color">Cor: </label>
      <input id="color" ng-change="renderPreview(presentation)" type="color" value="#000000" class="form-control dark-input" ng-model="presentation.theme" required>
      <br>
      <label for="content">Conteúdo: </label>
      <textarea id="content" ng-change="renderPreview(presentation)" name="name" rows="10" class="form-control text-height dark-input" ng-model="presentation.slideContent"></textarea>
      <br>
      <label for="description">Descrição: </label>
      <textarea id="description" name="name"  class="form-control text-height dark-input" ng-model="presentation.description" required></textarea>
      <br>
      <input type="submit" name="name" class="btn btn-green" value="Salvar">
    </form>
  </div>
  <div class="col-md-5">
    <div class="slide-edit" ng-repeat="image in presentation.slidesImages track by $index">
        <img ng-src={{image}} alt="" class="img-responsive"/>
    </div>
  </div>
</section>
