<section>
  <div class="col-md-7">
    <div class="presentation">
      <img ng-src={{actualImage}} alt="" class="img-responsive" ng-click="next()" fullscreen="isFullscreen"/>
      <button type="button" name="button" class="presentation-button" ng-click="previous()"><span class="glyphicon glyphicon-chevron-left"></span> Anterior</button>
      <button type="button" name="button" class="presentation-button" ng-click="next()">Próximo <span class="glyphicon glyphicon-chevron-right"></span></button>
      <button class="presentation-button presentation-button-fullscreen" ng-click="toggleFullScreen()">Apresentar <span class="glyphicon glyphicon-fullscreen"></span></button>
    </div>
    <br>
    <div class="information box-white">
      <h4>{{presentation.title}}</h4>
      <p><span class="glyphicon glyphicon-user box-gray"></span> {{presentation.author}} </p>
      <hr>
      <p>{{presentation.description}}</p>
    </div>
  </div>
  <div class="col-md-5">

  </div>
</section>
